@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    --darkCyan: hsl(158, 36%, 37%);
    --cream:hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(213, 9%, 19%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --ff-accent: 'Fraunces', serif;
    --ff-primary: 'Montserrat', sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

body{
    margin: 1rem;
    background-color: var(--cream);
    display: grid;
    place-content: center;
    font-family: var(--ff-primary);
    font-weight: 500;
    color: var(--darkCyan);
    font-size: 0.875rem;
}

.product{
    background-color: var(--white);
    border-radius:.5rem;
    display: grid;
    overflow: hidden;
    max-width: 600px;
}

.product__content{
    padding: 1.5rem;
    display: grid;
    gap:1rem;
}

.product__title{
    font-family: var(--ff-accent);
    font-weight: 700;
    font-size: 2rem;
    color: var(--veryDarkBlue);
}



.product__category{
    font-size: .875rem;
    text-transform: uppercase;
    color: var(--darkCyan);
    letter-spacing: .25rem;
}

.flex-group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.product__price{
    color:var(--darkCyan);
    font-size: 2rem;
    font-family:var(--ff-accent);
}

.button{
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap:0.75rem;
    border-radius: .5rem;
    color: var(--white);
    background-color: var(--darkCyan);
    padding: .75rem 1.5rem;
    font-weight: 700;
    border: none;
}

.button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url("images/icon-cart.svg");
    width: 15px;
    height: 16px;
  }

.button:is(:hover, :focus) {
    background-color:var(--veryDarkBlue)
  }  

  @media (min-width: 600px) {
    .product {
      grid-template-columns: 1fr 1fr;
    }
  }  