@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$font-family:'Kumbh Sans', sans-serif;


$font-size-small:0.75rem;
$font-size-medium:.85rem;
$fonts-size-large:2rem;
